<%= form_with(model: suffering, local: true) do |form| %>
  <% if suffering.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(suffering.errors.count, "error") %> prohibited this suffering from being saved:</h2>

      <ul>
      <% suffering.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :suffering_description %>
  </div>

  <div class="field">
    <%= form.label :url_img %>
    <%= form.text_field :url_img, id: :suffering_url_img %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :suffering_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
