<p id="notice"><%= notice %></p>

<h1>Padecimientos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Url imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sufferings.each do |suffering| %>
      <tr>
        <td><%= suffering.name %></td>
        <td><%= suffering.url_img %></td>
        <td><%= link_to 'Mostrar', suffering %></td>
        <td><%= link_to 'Editar', edit_suffering_path(suffering) %></td>
        <td><%= link_to 'Eliminar', suffering, method: :delete, data: { confirm: '¿Está seguro que desea eliminar este padecimiento?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo padecimiento', new_suffering_path %>
