<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @suffering.name %>
</p>

<p>
  <strong>Url imagen:</strong>
  <%= @suffering.url_img %>
</p>

<%= link_to 'Editar', edit_suffering_path(@suffering) %> |
<%= link_to 'Atrás', sufferings_path %>
