<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "form-group">
    <%= form.label :height,"Altura", :class => "control-label"%>
    <%= form.text_field :height, placeholder: "Digite su altura en metros", id: :person_height, :class => "form-control" %>
  </div>

  <div class = "form-group">
    <%= form.label :weight,"Peso", :class => "control-label"%>
    <%= form.text_field :weight, placeholder: "Digite su peso en kilogramos", id: :person_weight, :class => "form-control" %>
  </div>

  <div class = "form-group">
    <%= form.label :country_id,"Selecione su país de origen", :class => "control-label"%><br>
    <%= form.select :country_id, options_from_collection_for_select($countries,"id", "name"), :class => "form-control" %>
  </div>
  <div class = "form-group">
    <%= form.label :abdominal_perim,"Perímetro abdominal", :class => "control-label"%>
    <%= form.text_field :abdominal_perim, placeholder: "Digite su perímetro abdominal en decimal", id: :person_abdominal_perim, :class => "form-control"%>
  </div>

  <div class = "form-group">
    <%= form.label :age,"Edad", :class => "control-label"%>
    <%= form.text_field :age, id: :person_age, :class => "form-control" %>
  </div>

  <div class = "form-group">
    <%= form.label :sex ,"Defina su Sexo", :class => "control-label"%><br>
    <%= form.label :sex ,"masculno", :class => "control-label"%>&nbsp;
    <%= form.radio_button :sex ,"1"%>&nbsp;&nbsp;
    <%= form.label :sex ,"femenino", :class => "control-label"%>&nbsp;
    <%= form.radio_button :sex ,"2"%>
  </div>

  <div class="form-group">
    <%= form.submit 'Calcular IMC', :class => "btn btn-primary"%>
    <%= link_to 'Volver', people_path, :class => "btn btn-danger"%>
  </div>
<% end %>