<br>
<h3 align="center">Salud y Bienestar</h3>
<div class="content">
  <div class="box box-info">
    <div class="box-header">
      <h2 class="box-title">Editar datos del formulario</h2>
    </div>
    <div class="box-body">
      <div id="content-form" class="row">
        <div class="col-md-6">
          <%= render 'form', person: @person %>

        </div>
      </div>
    </div>
  </div>
</div>
