<br>
<h3 align="center">Salud y Bienestar</h3>
<div class="content">
  <div class="box box-info">
    <div class="box-header">
      <h2 class="box-title">Calcular el Indice de Masa Corporal</h2>
    </div>
    <div class="box-body">
      <div id="content-form" class="row">
        <div class="col-md-6">

          <%= render 'form', person: @person %>

        </div>
        <div class="col-lg-6 image-form">
          <h3>Alimentación balanceada</h3>
          <%= image_tag "foods.jpg"%>
        </div>
      </div>
    </div>
  </div>
</div>