<h3 align="center">Salud y Bienestar</h3>

<div class="content">
  <p class="notice"><%= notice %></p>
  <div class="box box-info">
    <div class="box-header">
      <h2 class="box-title">Datos ingresados al formulario</h2>
    </div>
    <div class="box-body">
      <div id="content-form" class="row">
        <div class = "form-group">
          <strong>Altura: </strong>
          <%= @person.height %>
        </div>

        <div class = "form-group">
          <strong>Peso:</strong>
          <%= @person.weight %>
        </div>

        <div class = "form-group">
          <strong>Perímetro abdominal: </strong>
          <%= @person.abdominal_perim %>
        </div>

        <div class = "form-group">
          <strong>Edad:</strong>
          <%= @person.age %>
        </div>
        <div class = "form-group">
          <strong>País:</strong>
          <%= @person.country.name %>
        </div>
      </div>
    </div>
  </div>

  <% if @bmi.show_code == @bmi.get_code_normopeso %>
    <div class = "box box-success form-group has-success">
      <label class="control-list" for="inputSuccess"><i class="fa fa-check">&nbsp; Resultado</i></label>
      <label class="control-list" for="inputSuccess"><%= @bmi.show_result%></label>
    </div>
  <% elsif @bmi.show_code == @bmi.get_code_obesity ||
      @bmi.show_code == @bmi.get_code_under_weight %>
    <div class = "box box-danger form-group has-error">
      <label class="control-list" for="inputError"><i class="fa fa-warning">&nbsp; Resultado</i></label>
      <label class="control-list" for="inputError"><%= @bmi.show_result%></label>
    </div>

  <%	elsif @bmi.show_code == @bmi.get_code_overweight %>
    <div class = "box box-warning form-group has-warning">
      <label class="control-list" for="inputWarning"><i class="fa fa-warning">&nbsp; Resultado</i></label>
      <label class="control-list" for="inputWarning"><%= @bmi.show_result%></label>
    </div>
  <% end %>

  <div class="box box-info">
    <div class="box-header">
      <h2 class="box-title">Recomendaciones</h2>
    </div>
    <div class="box-body">

      <% $sufferings.each do |suf| %>
<<<<<<< HEAD
        <%  if suf.code == 0 %>

          <strong class="subtitle text-muted">Puede practicar los siguentes deportes:</strong>
=======
        <%  if suf.code == @bmi.show_code %>
          <strong class="subtitle text-muted">Puede practicar los siguentes deportes:</strong> <br> <br>
>>>>>>> 8e380037f7b707ac4802cb85b4a7638323af1386
          <% suf.sports.each do |spt|  %>
            <div class="card">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag(spt.url_img, size: "700x700", alt: "Error al cargar la imagen")	%>
                </div>

                <div class="col-md-9">
                  <div class="card-body">
                    <h5 class="card-title title_card"><%= spt.name %></h5> <br>
                    <p class="card-text"><%= spt.description %></p>
                  </div>
                </div>
              </div>
            </div>
          <%	end  %>

          <strong class="subtitle text-muted">Para su estado, le recomendamos los siguientes alimentos:</strong> <br> <br>
            <% suf.foods.each do |food|  %>
              <div class="card">
                <div class="row">
                  <div class="col-md-3">
                    <%= image_tag(spt.url_img, size: "700x700", alt: "Error al cargar la imagen")	%>
                  </div>

                  <div class="col-md-9">
                    <div class="card-body">
                      <h5 class="card-title title_card"><%= food.name %></h5> <br>
                      <p class="card-text"><%= food.description %></p>
                    </div>
                  </div>
                </div>
              </div>

          <% end %>
        <%	end  %>
      <% end %>
    </div>
  </div>

</div>
<div class="content">
  <%= link_to 'Modificar información', edit_person_path(@person), :class => "btn btn-primary" %>
  <%= link_to 'Volver al inicio', pages_index_path, :class => "btn btn-danger" %>
</div>