<%= form_with(model: recommendation, local: true) do |form| %>
  <% if recommendation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recommendation.errors.count, "error") %> prohibited this recommendation from being saved:</h2>

      <ul>
      <% recommendation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :recommendation_description %>
  </div>

  <div class="field">
    <%= form.label :url_img %>
    <%= form.text_field :url_img, id: :recommendation_url_img %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
