<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @recommendation.description %>
</p>

<p>
  <strong>Url img:</strong>
  <%= @recommendation.url_img %>
</p>

<%= link_to 'Edit', edit_recommendation_path(@recommendation) %> |
<%= link_to 'Back', recommendations_path %>
