<%= form_with(model: sport, local: true) do |form| %>
  <% if sport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sport.errors.count, "error") %> prohibited this sport from being saved:</h2>

      <ul>
      <% sport.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :sport_description %>
  </div>

  <div class="field">
    <%= form.label :url_img %>
    <%= form.text_field :url_img, id: :sport_url_img %>
  </div>

  <!--Mi nuevo código del combobox-->
  <div class = "form-group">
    <%= form.label :suffering_id, "Padecimiento asociado", :class => "control-label"%><br>
    <%= form.select :suffering_id, options_from_collection_for_select($suffering,"id", "name"), :class => "form-control" %>
  </div>
  <!--Fin de mi código-->

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :sport_name %>
  </div>

  <div class="field">
    <%= form.label :acceptance %>
    <%= form.number_field :acceptance, id: :sport_acceptance %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
