<p id="notice"><%= notice %></p>

<h1>Deportes</h1>

<table>
  <thead>
    <tr>
      <th>Descripción</th>
      <th>Url img</th>
      <th>Nombre</th>
      <th>Acceptance </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  
    <% @sports.each do |sport| %>
      <tr>
        <td><%= sport.description %></td>
        <td><%= sport.url_img %></td>
        <td><%= sport.name %></td>
        <td><%= sport.acceptance %></td>
        
        <td><%= link_to 'Show', sport %></td>
        <td><%= link_to 'Edit', edit_sport_path(sport) %></td>
        <td><%= link_to 'Destroy', sport, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Sport', new_sport_path %>
