<p id="notice"><%= notice %></p>

<p>
  <strong>Descripción:</strong>
  <%= @sport.description %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @sport.url_img %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @sport.name %>
</p>


<p>
  <strong>Votos:</strong>
  <%= @sport.acceptance %>
</p>

<%= link_to 'Editar', edit_sport_path(@sport) %> |
<%= link_to 'Atrás', sports_path %>
