<div class="panel-group" id="accordion" role="tablist">
  
    <div class="panel panel-default">

    <!--Collapse 1-->
        <div class="panel-heading" role="tab" id="heading1">
           <h4 class="panel-title"> 
                <a href="#collapse1" data-toggle="collapse" data-parent="#accordion">
                Problemas respiratorios
                </a> 
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class ="panel-body">
            <h5>¿No puedes practicar algún deporte por enfermedades respiratorias? Aquí te mostramos las rutinas que te ayudarán a
             mejorar sin dañar tu sistema.</h5><hr>
             <p>Existen numerosos estudios que avalan que, cualquier persona que padezca trastornos
              respiratorios, independientemente de su condición física y edad, puede realizar
               actividad física de cierto nivel sin necesidad de tomar productos para mejorar su 
               rendimiento o enmascarar los síntomas de los problemas que presentan.</p>    

             <hr><h6>¿Qué se debe tomar en cuenta?</h6>
             <p>En primer lugar se debe consultar con el neumólogo la intención 
             de realizar actividad física de forma regular. Es imprescindible un control
              médico ya que es necesario conocer el estado real de los pulmones para saber 
              qué capacidad de captar oxígeno y eliminar dióxido de carbono tiene..</p>

                <h6>Empezar</h6>
                <p>Una vez conocidos los límites hay que comenzar de forma progresiva la 
                actividad física sin sobrepasar los límites marcados por el especialista 
                ya que en esos momentos es cuando si se pone en riesgo la salud. Esto se 
                debe a que el organismo necesita un equilibrio, si los músculos necesitan
                 mucho oxígeno para mantener la actividad, el cerebro y las vísceras pueden 
                 perder parte del oxígeno que necesitan desencadenando un aumento de la 
                 frecuencia cardíaca y respiratoria que puede no ser soportado y entrar 
                 en shock o fatiga que cuesta mucho recuperar.</p>

                <h6>En resumen</h6>
                <p>Una vez conocidos los límites hay que comenzar de forma progresiva la actividad
                física sin sobrepasar los límites marcados por el especialista ya que en esos
                momentos es cuando si se pone en riesgo la salud. Esto se debe a que el organismo 
                necesita un equilibrio, si los músculos necesitan mucho oxígeno para mantener la
                actividad, el cerebro y las vísceras pueden perder parte del oxígeno que necesitan 
                desencadenando un aumento de la frecuencia cardíaca y respiratoria que puede no
                ser soportado y entrar en shock o fatiga que cuesta mucho recuperar.</p>
            </div>
            </div>
        </div>
    </div>

    <!--Collapse 2-->
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading2">
           <h4 class="panel-title"> 
                <a href="#collapse2" data-toggle="collapse" data-parent="#accordion">
                Limitaciones físicas
                </a> 
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class ="panel-body">
            <h5>Conoce los deportes y rutinas que te ayudarán según tus problemas 
            físicos</h5><hr>

                <h6>Introducción</h6>
                <p>El deporte adaptado se entiende según Reina (2010) “como aquella modalidad
                 deportiva que se adapta al colectivo de personas con discapacidad o condición 
                 especial de salud, ya sea porque se han realizado una serie de adaptaciones y/o 
                 modificaciones para facilitar la práctica de aquellos, o porque la propia estructura
                  del deporte permite su práctica”.</p>

                <h6>Baloncesto en sillas de ruedas</h6>
                <p>Se suelen regir por el mismo reglamento que el baloncesto, 
                aunque con diferentes adaptaciones como por ejemplo, que los jugadores
                 deben pasar o botar la pelota después de empujar la silla dos veces.</p>

                <h6>
                <a href="#" >Esgrima</a>
                </h6>
                <p>Este tipo de deporte se juega con personas que presentan alguna
                 discapacidad física, por lo que se participará en silla de ruedas 
                 con mecanismos que permitirán el movimiento de ésta hacia delante 
                 y hacia detrás.

                Puede considerarse como una combinación de diferentes habilidades como 
                táctica, fuerza, técnica y velocidad. Existen diferentes modalidades 
                como: espada, florete y sable.</p>

                <h6>Goalball</h6>
                <p>Proviene de países como Alemania y Austria. Se considera un deporte de equipo
                 compuesto por tres jugadores y, al igual que el fútbol, se juega en una pista 
                 rectangular en las cuales existe una portería a cada extremo.

                 A diferencia de éste no se van a utilizar los pies para jugar, sino la mano.
                 Es practicado por personas que presentan algún tipo de discapacidad visual 
                 y el balón que se utiliza es sonoro.</p>


                <h6>
                <a href="#" >Halterofilia</a>
                </h6>
                <p>Cuando ya se tienen seleccionados las personas que van a participar en 
                este tipo de deporte, se suelen dividir en función de su peso corporal en 
                vez de por su lesión tanto en categorías femeninas como masculinas. Lo forman 
                varias modalidades: powerlifting y weifhlifting.

                Este deporte consiste en ser capaz de posicionar la barra compuesta por 
                pesas en el pecho, para a continuación dejarla sin movimiento y subirla 
                hasta dejar los codos extendidos. Los participantes disponen de tres 
                intentos cada vez que se añade peso y gana aquel que haya sido capaz de 
                levantar más kilos.</p>

            </div> 
        </div>
    </div>

<!--Collapse 3-->
<div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading3">
           <h4 class="panel-title"> 
                <a href="#collapse3" data-toggle="collapse" data-parent="#accordion">
                Según tu estatua
                </a> 
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class ="panel-body">
            La estatura es importante al momento de elejir un buen deporte. 
            </div>
        </div>
    </div>
<!--Collapse 4-->
<div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading4">
           <h4 class="panel-title"> 
                <a href="#collapse4" data-toggle="collapse" data-parent="#accordion">
                Riesgos de algunos deportes
                </a> 
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class ="panel-body">
            limitantes. 
            </div>
        </div>
        
    </div>

    <!--Collapse 5-->
<div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading5">
           <h4 class="panel-title"> 
                <a href="#collapse5" data-toggle="collapse" data-parent="#accordion">
                Deportes generales
                </a> 
            </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
            <div class ="panel-body">
            <h5>Recomendaciones para la pràctica deportiva</h5><hr>

                <h6>Introducción</h6>
                <p>La actividad física se caracteriza por un gasto de energía debido al movimiento corporal. El ejercicio físico y el deporte son formas de realizar una actividad planificada y repetitiva con la intención de mantener o mejorar la forma física. Cuando la actividad se regula y organiza para competir la llamamos deporte.</p>

                <h6>Squash</h6>
                <p>El squash, muy similar al front-on o el llamado paleta frontón, con frecuencia es considerado como el deporte más completo e intenso, así como el mejor para la salud. Media hora de squash cada día es suficiente para ejercitar prácticamente todo el cuerpo y quemar 517 calorías.
                Practicar este deporte implica un gran entrenamiento cardio-respiratorio y muscular además de incrementar la resistencia del cuerpo (sobre todo en la parte inferior del cuerpo) y aumentar la flexibilidad del abdomen y los músculos de la espalda.</p>
                <h6>
                <a href="#" >Remo</a>
                </h6>
                <p>Al igual que el squash, el remo es un gran ejercicio en cuanto a lo que el fortalecimiento, la flexibilidad y la resistencia muscular refiere. El corazón y el sistema respiratorio en si, también se ven enormemente beneficiados con la práctica de este deporte, según los expertos, otro de los mejores y más completos para la salud, 30 minutos queman 302 calorías.
                Puede no ser sencillo, pues no se trata de un deporte que puedas realizar en cualquier lugar, sin embargo muchos gimnasios cuentan con máquinas de remo. Con este deporte la masa muscular se forma constantemente y se la trabaja en todos sus niveles.</p>

                <h6>voleibol</h6>
                <p>Si el voleibol se practica adecuadamente, los músculos obtienen una fuerza, tonalidad, resistencia y forma casi que como en ningún otro deporte, sobre todo los músculos de las piernas, los brazos y los glúteos.

Mientras uno practica el voleibol, tonifica los músculos de gran manera, ya que prácticamente se la pasa todo el tiempo corriendo y saltando. Esto es aún más significativo cuando se practica en la arena ya que implica un mayor esfuerzo en los músculos. Sin embargo, eso también puede incidir y jugar una mala pasada con la cuestión de las lesiones musculares y óseas, además de la siempre presente tendinitis.</p>


                <h6>
                <a href="#" >Boxeo</a>
                </h6>
                <p>Aunque probablemente ningún otro de los deportes que hoy te enseñé sea tan riesgoso y peligroso como este, el boxeo no deja de ser un gran deporte si se practica de forma adecuada. Mientras uno practica el boxeo recibe todo tipo de golpes en todo el cuerpo, por lo que la protección es sumamente importante.

Las aptitudes cardio-respiratorias y musculares se ven enormemente beneficiadas con la práctica de este deporte y con 30 minutos de boxeo se queman 302 calorías. Pero, de todas maneras, las lesiones son una marca registrada de la práctica del boxeo. Puede traer desde moretones, rasgados y todo tipo de heridas a lesiones cerebrales, musculares y óseas. Vuelvo a repetirte, ten mucho cuidado.</p>

            </div> 
        </div>
    </div>

<!--Collapse 6-->
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading6">
           <h4 class="panel-title"> 
                <a href="#collapse6" data-toggle="collapse" data-parent="#accordion">
                Edades
                </a> 
            </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
            <div class ="panel-body">
            <h5>Recomendaciones para la pràctica deportiva</h5><hr>

                <h6>Introducción</h6>
                <p>La edad no es excusa, tampoco pequeños achaques como esa leve lesión de rodilla o el persistente dolor de espalda: con consejo médico y respetando unas normas sencillas, cualquiera puede empezar a activarse.</p>

                <h6>De 17 a 40 años</h6>
                <p>
                    Objetivo: mantener la masa magra muscular, que se empieza a perder a partir del inicio de la edad adulta, lo que afecta también a articulaciones y huesos, y conservar la flexibilidad.
                    Actividades posibles: ejercicios de alta intensidad, trabajo específico de fuerza con peso y calistenia, además de yoga y otras actividades que ayuden a mantener la flexibilidad.
                    Frecuencia: semanalmente, 150 minutos de actividad física moderada o 75 de actividad vigorosa, o una combinación equivalente de ambas, distribuidos a lo largo de toda la semana, más dos días al menos de actividades de fortalecimiento muscular y mejora de la masa ósea que incluyan grandes grupos musculares y actividades de mejora de la flexibilidad.
                    Claves: el inicio de la edad adulta es el momento de consolidar hábitos de regularidad en la actividad física para prevenir enfermedades como la osteoporosis, la diabetes, la hipertensión, el cáncer de mama o colon, el colesterol o ciertas cardiopatías, pero también el estrés, la depresión o el insomnio. Especialmente en las mujeres, la actividad física suele reducirse mucho en la adolescencia; en esa época los padres tienen un papel crucial en reafirmar costumbres saludables.
                </p>
                <h6>
                <a href="#" >De 40 a 65 años</a>
                </h6>
                <p>Objetivo: mantener la masa magra muscular y la densidad ósea, así como la flexibilidad.
Actividades posibles: en una transición de un enfoque al rendimiento a otro que prioriza la salud, poco a poco irán cobrando importancia actividades como natación, ciclismo, baile, aquagym, pilates o yoga. Con independencia de ello, el trabajo muscular debe potenciarse para prevenir lesiones articulatorias.
Frecuencia: semanalmente, 150 minutos de actividad física moderada o 75 de actividad vigorosa, o una combinación equivalente de ambas, distribuidos a lo largo de toda la semana, más dos días al menos de actividades de fortalecimiento muscular y mejora de la masa ósea que incluyan grandes grupos musculares y actividades de mejora de la flexibilidad.
Claves: no importa si hace años que no se practica deporte o nunca se ha hecho, siempre se está a tiempo de empezar; sólo hay que tener en cuenta la condición física de cada persona, su historia deportiva y el principio de progresividad. Los beneficios se notarán enseguida. Muy importante: los estiramientos, siempre necesarios antes y después del ejercicio, son imprescindibles desde ahora</p>

                <h6>A partir de 65 años</h6>
                <p>
    Objetivo: para evitar caídas y preservar la autonomía personal, hay que añadir ejercicios encaminados a la mejora del equilibrio y el mantenimiento de la movilidad a los de conservación de la masa ósea y muscular y la flexibilidad.
    Actividades posibles: pasear –a ser posible, a paso vivo–, baile, ciclismo si no está contraindicado, yoga, tai-chi y siempre trabajo de fuerza –calistenia mientras se pueda y, cuando no, en gimnasio con máquinas–. La natación gana protagonismo al reducir el impacto articular; además, las personas que sufren problemas en las piernas pueden ejercitar en el agua otros grandes grupos musculares, como brazos, pecho y espalda.
    Frecuencia: hay que mantener las actividades de la franja de edad anterior y sumarles, al menos tres días en semana, las ya descritas específicas para la mejora de equilibrio y el fortalecimiento muscular.
    Claves: la pérdida de masa muscular asociada a la mayor edad produce una reducción del metabolismo que suele causar obesidad, dado que muchas personas tienden a no modificar las pautas alimentarias y aumentar el sedentarismo. Mantener la actividad física ayuda a conservar la masa magra y con ello el gasto metabólico, lo que redunda en menos necesidad de reducir la ingesta de calorías.
</p>

            </div> 
        </div>
    </div>

<!--
    <% $sufferings.each do |suf| %>
        <%  if suf.code == 0 %>

          <strong class="subtitle text-muted">Deportes añadidos recientemente:</strong>
          <% suf.sports.each do |spt|  %>
            <br>
            <div class="card">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag("http://cdn2.salud180.com/sites/www.salud180.com/files/asado_0.jpg", size: "700x700", alt: "Error al cargar la imagen")	%>
                </div>

                <div class="col-md-9">
                  <div class="card-body">
                    <h5 class="card-title"><%= spt.name %></h5> <br>
                    <p class="card-text"><%= spt.description %></p>
                  </div>
                </div>
              </div>

            </div>
          <% end %>
        <%	end  %>
        -->
</div>

