<%= form_with(model: food, local: true) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :food_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :food_description %>
  </div>

  <div class="field">
    <%= form.label :acceptance %>
    <%= form.number_field :acceptance, id: :food_acceptance %>
  </div>

    <!--Mi nuevo código del combobox-->
  <div class = "form-group">
    <%= form.label :suffering_id, "Padecimiento asociado", :class => "control-label"%><br>
    <%= form.select :suffering_id, options_from_collection_for_select($suffering,"id", "name"), :class => "form-control" %>
  </div>
  <!--Fin de mi código-->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
