<div class="content-header">
  <h3 align="center">Registros de la aplicación</h3>
</div>

<p id="notice"><%= notice %></p>

<% @countries.each do |country| %>

  <div class="content">
    <div class="box box-primary">
      <div class="box-title">
        <h4><%= country.name %></h4>
        <td><strong>Código:</strong> <%= country.code%></td>
        <td><strong>Creado:</strong>& <%=country.created_at%></td>
        <td><%= link_to 'Editar', edit_country_path(country) %></td>
        <td><%= link_to 'Eliminar', country, method: :delete, data: { confirm: 'Realmente desea eliminarlo' } %></td>
      </div>

      <div class="box-body table-responsive">
        <table id="example2" class="table table-bordered table-hover">
          <%	if country.people.first.nil?  %>
            <label class="panel-success">Sin registros</label>
          <%	else  %>
            <thead>
            <tr>
              <th>Sexo</th>
              <th>Altura</th>
              <th>Peso</th>
              <th>Perímetro abdominal</th>
              <th>Valor de IMC</th>
              <th>Resultados</th>
              <th>Edad</th>
              <th>Fecha de registro</th>
            </tr>
            </thead>
          <%	end  %>
          <tbody>
          <%	string_sex = ""   %>
            <%	country.people.each do |person| %>
              <!--Definición del tipo de sexo a trevés del valor entero que se almacena en la base de datos-->
              <%
                if person.sex == 1
                  string_sex = "Masculino"
                  elsif person.sex == 2
                  string_sex = "Femenino"
                end
              %>
              <tr>
                <td><%= string_sex%></td>
                <td><%=person.height%> m.</td>
                <td><%=person.weight%> kg.</td>
                <td><%=person.abdominal_perim %> m.</td>

                <!--Calculo del indice de masa corporal-->
                <% bmi = Bmi.new(person.weight,person.age,person.height,person.sex) %>

                <td><%=bmi.get_bmi.round(1)%></td>
                <td><%=bmi.show_result%></td>
                <td><%= person.age %></td>
                <td><%=	person.created_at %></td>
              </tr>
            <%	end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>

<div class="content">

  <%= link_to 'Agregar País', new_country_path, :class => "btn btn-primary"%>

</div>