// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-form{
  margin-top: 20px;
}
.subtitle{
  font-family: "Fjalla One";
  font-size: 15px;
}
.card-body{
  margin: 20px;
  align-content: center;
}
.card{
  background-color: #EEEEEE;
  border-radius: 3px;
  padding: 10px;
}

.title_card {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  font-size: 17px;
}